.body {
  display: flex;
  flex-direction: row;
  border-collapse: collapse;
  .left {
    height: 30px;
    margin-top: 30px;
  }
  .right {
    .header {
      display: flex;
      flex-direction: row;
      height: 30px;
      margin-left: -1px;
    }
    .main {
      display: flex;
      flex: 1;
      flex-direction: column;
      .top {
        display: flex;
        flex-direction: row;
      }
    }
  }
}